# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
.avalonia-build-tasks/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/modules.xml
*.iml

# Visual Studio
.vs/
*.userprefs

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
TestResult.xml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Benchmark results
BenchmarkDotNet.Artifacts/

# Publish output
publish/

# Debug dump files
*.txt
nul
/2
